# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.idea/
.vscode/

# Flutter/Flet
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
.pub/

# App specific
storage/
*.db
*.sqlite
*.assm-save
